.fondo {
    background-image: url("../IMAGENES/Fondo.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    padding: 10px 0;
}

.btn-login{
    background-color: #FF6B00;
    color: white;
    border: none;
}

.texto{
    font-style: normal;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-weight: 700;
    text-shadow: 2px 3px 8px rgba(0, 0, 0, 0.4);
}